.navbar-default .navbar-nav>li>a {
    font-size: 12px;
    color: #fff;
    letter-spacing: 2px;
}

/*https://stackoverflow.com/questions/16625972/change-color-of-bootstrap-navbar-on-hover-link*/
.navbar-default .navbar-nav > li > a:hover{
    background-color:#f43333;
    color: white;
} 

.navbar-default .navbar-nav > li >a:active { 
    color: white;
    background-color : #808080;
}

.activeLink{
     background-color:grey;
     color: black
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-left: -1px;
 }

 #myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
}

#myBtn:hover {
  background-color: #555;
}

.headerSearch{
    margin-top: -43px;
    margin-bottom:-70px;  
    margin-right:-90px;
}
.header-text-box {
    -webkit-border-radius: 0px;
       -moz-border-radius: 0px;
            border-radius: 0;
            background-color: transparent;
            color : white;
}

.header-search-icon{
    cursor:pointer;
}


.totorial_heading{
    padding:5px;
    color:grey;
    font-family:Arial;
    word-spacing:5px;
    background-color: #f4f4f4;
    border: 1px solid #eae8e8;
}

.totorial_heading:hover{
    background-color: #eae8e8;
    border: 1px solid #dbdbdb;
}

.totorial_question{
    padding:5px;
    color:#3f3d3d;
    font-family:Arial;
    word-spacing:4px;
    letter-spacing:1px;
    line-height: 20px;
    border-bottom:1px solid #e2e2e2;
}
.totorial_question > h2{
    color:#605e5e;
    font-weight: bold;
}

.totorial_question > h2:hover{
    color:green !important;
}

.totorial_heading > a{
    color: green;
    text-decoration: underline;
    font-size: 15px;
}

.homePage{
    margin-top: 20px;
}
.homePage > div > a > img{
    cursor: pointer;
    border: 1px solid grey;
}

.homePage > div > a > img:hover{
    -webkit-box-shadow: 2px 2px 5px 0px rgba(45, 56, 40, 0.75);
-moz-box-shadow:    2px 2px 5px 0px rgba(45, 56, 40, 0.75);
box-shadow:         2px 2px 5px 0px rgba(45, 56, 40, 0.75);
}


.code-table > thead, tbody{
    border: 1px solid grey;
}

.code-table > thead > tr, tbody > tr, td{
    border: 1px solid grey;
    padding: 10px;
}

.text-code{
    letter-spacing: 1px;
    font-size:15px;
    font-weight:normal;
    font-style:italic;
   
    border: 1px solid #e2e2e2;
    border-radius: 3px;
    padding:10px;
    padding-left:20px;
    padding-bottom:0px;
    background-color:#edefef;


}
.text-code:hover{
     background-color:white;
}

.next-pre-btn{
    background: none; 
    color:green;
    border-radius: 15px;
}


/*.terminal > .terminal-header{
    color: white;
    background-color:#514F48;
    font-weight: bold;
    font-size:14px;
    letter-spacing: 1px;
    padding: 5px;
    border: 15px solid 494741;
    border-radius: 5px 5px 0px 0px;
}

.terminal > .terminal-body{
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color:#300A24;
    font-weight: bold;
    letter-spacing: 1px;
    font-size:14px;
    padding: 5px;
    padding-bottom: 100px;
    border: 10px solid 494741;
    border-radius: 0px 0px 5px 5px;
    line-height: 10px;
}



.terminal > .terminal-body > p > .user-name{
    color: #57af41;
}
.terminal > .terminal-body > p > .path{
    color: #6C9CCF;
}
*/